h1{
    text-align: center;

}


.board{
    margin-top:30px;
    width:70%;
    height:70%;
    display: block;
    margin: 0 auto;
    text-align: center;

}

.row {
    display: block;
}
.field{
    display:inline-block; border: 1px solid #000000;
    height:10%;
    width:10%;
    font-size: 26px;
    text-align: center;
}

.col-2, .col-5 {
    border-right: 5px solid #000000;
}

.row-2, .row-5{
    border-bottom: 5px solid #000000;
}

.move{
    display: block;
    margin: 0 auto;
}

.conflict{
    border: 2px solid #ff0000;

}

.ok {
    color: #00ff00;
}



#status{

    font-size: large;
    font-weight: bold;

}

body{
    background-color: cadetblue;
}

.red{
    background-color: red;
    color:red;

}

.yellow{
    background-color: yellow;
    color: yellow;

}

.blue{
    background-color: blue;
    color:blue;

}

.green{
    background-color: green;
    color:green;

}

.orange{
    background-color: orange;
    color:orange;

}

.black{
    background-color: black;
    color:black;

}

.brown{
    background-color: brown;
    color:brown;

}

.pink{
    background-color: pink;
    color:pink;

}

.lightskyblue{

    background-color: lightskyblue;
    color: lightskyblue;
}

.Finish Game{
    position:fixed;
    top:92px;
    width: 20px;
    size: B4;
}

.redDec{
    background-color: red;
    color: red;

}

#declaration {

    position: absolute;
    bottom: 30%;
    right: 10%;
    /*font-size: 35px;*/
}

.dec{

    width: 30px;
    height: 30px;
    font-size: 30px;
    /*background-color: red;*/
    display:flex;
    align-items: center;
    justify-content: center;
}



#type{

    background-color: #f4f1d2;
    padding: 5px 15px;
    height: 40px;
    width: 150px;
    font-size: 140%;
    font-weight: bold;
    align: center;
}

#finish{

    background-color: #f4f1d2;
    padding: 5px 15px;
    height: 40px;
    width: 150px;
    font-size: 140%;
    font-weight: bold;
    /*font-size: 30px;*/
}

#status{

    color: white;
    font-size: 400%;

}
/*.smaller {*/
    /*width: 20%;*/
/*}*/

.score {
    font-weight: bold;
    color: black;
    position: absolute;
    top: 55%;
    left: 80%;
    transform: translate(-50%, -50%);
    font-size: 160%;

}
/*.finish {*/
    /*background-color: #4CAF50;*/
    /*position: absolute;*/
    /*border: 2px solid #000000;*/
    /*padding: 15px 32px;*/
    /*top: 80%;*/
    /*left: 85%;*/
    /*transform: translate(-50%, -50%);*/
    /*font-size: 100%;*/
    /*cursor: pointer;*/

/*}*/

.finish2 {
    background-color: #cfcab6;
    position: absolute;
    font-size: 180%;
    font-weight: bold;
    border: 2px solid #000000;
    padding: 20px 32px;
    top: 80%;
    left: 80%;
    transform: translate(-50%, -50%);
    cursor: pointer;

}

.type {
    position: absolute;
    top: 80%;
    left: 90%;
    transform: translate(-50%, -50%);
    font-size: 140%;
}

.items{
    display: inline-block;
}

.modal-content{

    width:100%;
    height: 50%;

}

.modal-body{
    padding: 50px;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

#statusKS{

    color: black;
    font-size: 200%;
    /*font-size: large;*/
    font-weight: bold;

}