<link rel="stylesheet" type="text/css" href="pages/description/description.css" />

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <div ng-controller="descriptionController" ></div>
    <br><br>

    <table id= "tableFavorites" align= "center" >
        <tr id ="singleRow">
            <td id = "description" align="center">

                <h id= "desSudokuNum" class="des" align= "center">

                <p>The next task is Sudoku of numbers.</p>
                <p>Sudoku is played on a grid of 9 x 9 spaces. </p>
                <p>Within the rows and columns are 9 “squares” (made up of 3 x 3 spaces). </p>
                <p>Each row, column and square (9 spaces each) </p>
                <p>needs to be filled out with the numbers 1-9, </p>
                <p>without repeating any numbers within the row, column or square.</p>
                <br>

                </h>

                <h id= "desSudokuColors" class="des"  align= "center">

                    <p>The next task is Sudoku of colors.</p>
                    <p>Sudoku is played on a grid of 9 x 9 spaces. </p>
                    <p>Within the rows and columns are 9 “squares” (made up of 3 x 3 spaces). </p>
                    <p>Each row, column and square (9 spaces each) </p>
                    <p>needs to be filled out with the 9 colors, </p>
                    <p>without repeating any colors within the row, column or square.</p>

                    <br>

                </h>

                <h id= "desKS1"  class="des" align= "center">

                    <p>The next task is a KS1 problem,</p>
                    <p>you have 15 minutes for solving the problem,</p>
                    <p>if you finish before, press "finish game".</p>
                    <p>Solve the problem as well as you can.</p>
                    <p>Good Luck!</p>
                </h>

                <h id= "desKS2" class="des"  align= "center">

                    <p>The next task is a KS2 problem,</p>
                    <p>you have 15 minutes for solving the problem,</p>
                    <p>if you finish before, press "finish game".</p>
                    <p>Solve the problem as well as you can.</p>
                    <p>Good Luck!</p>
                </h>

            </td>

            <td id = "familiar" align="center">
                <div id="sudokuFamiliar">
                    <h2 class="familiar" align="center"><B>
                        <p>Please rate your familiarity and level of expertise with Sudoku puzzles, </p>
                        <p>prior to this study:</p> </B></h2>
                </div>
                <div id="KSFamiliar">
                    <h2 class="familiar" align="center"><B>
                        <p>Please rate your familiarity and level of expertise with Knapsack puzzles, </p>
                        <p>prior to this study:</p> </B></h2>
                </div>


                <div id="familiarOptions" class="familiar">
                <div class="familiar-option"><input type="radio" name="familiar" ng-model="familiar" value=" 0"   > 0 - absolutely no familiarity</div>
                <div class="familiar-option"><input type="radio"  name="familiar" ng-model="familiar" value=" 1"  > 1 - minimal familiarity and little to no experience </div>
                <div class="familiar-option"><input type="radio"  name="familiar" ng-model="familiar" value=" 2"  > 2 - below average level of expertise</div>
                <div class="familiar-option"><input type="radio"  name="familiar" ng-model="familiar" value=" 3"  > 3 - moderate level of expertise</div>
                <div class="familiar-option"><input type="radio"  name="familiar" ng-model="familiar" value=" 4"  > 4 - above average level of expertise </div>
                <div class="familiar-option"><input type="radio"  name="familiar" ng-model="familiar" value=" 5"  > 5 - high level of expertise</div>
                </div>

                <br> <br>

            </td>
        </tr>
    </table>
<!--        <div>-->
<!--        <button id= "tutorialButton" class="start" data-toggle="modal" data-target="#exampleModal"  ng-click=" tutorial()" >Tutorial</button>-->
<!--    </div>-->


<!--    <button ng-model="button" id= "startGameButton" ng-click=" startGame()" ng-disabled="!checked" >Start Play</button>-->

    <button id= "continueButton" class="start"   ng-click=" continue()" >Continue</button>


<!--&lt;!&ndash;    modal  for tutorial&ndash;&gt;-->
<!--    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">-->
<!--        <div class="modal-dialog" role="document">-->
<!--            <div class="modal-content">-->
<!--                <div class="modal-header">-->
<!--                    <h5 class="modal-title" id="exampleModalLabel"><b>Details</b></h5>-->
<!--                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">-->
<!--                        <span aria-hidden="true">&times;</span>-->
<!--                    </button>-->
<!--                </div>-->
<!--                <div class="modal-body">-->
<!--                    &lt;!&ndash; <div class = "single-img" ng-repeat="x in records"> &ndash;&gt;-->
<!--                    <p> You have to try three steps in order to</p>-->
<!--                    <p> try and check you understand the rules that have been displayed</p>-->
<!--                    <div>-->
<!--                        <button id= "startTrial" class="start"  ng-click=" startTrial()" >Start Trail</button>-->
<!--                    </div>-->
<!--                    <label>I understood the game's rules <input type="checkbox" ng-model="checked"></label><br/>-->



<!--                </div>-->
<!--                <div class="modal-footer">-->
<!--                    <button type="button" class="btn btn-secondary" data-dismiss="modal" >close</button>-->
<!--                    &lt;!&ndash; <button type="button" class="btn btn-primary" ng-click= "removeFromFavorites(Xname)">Remove from Favorites</button> &ndash;&gt;-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->




</head>
<body>

</body>
</html>