<link rel="stylesheet" type="text/css" href="pages/description/description.css" />

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <div ng-controller="descriptionController" ></div>
    <h id= "desSudokuNum" class="des" align= "center">

        <p>The next problem is a numbers Sudoku problem,</p>
        <p>you have 15 minutes for solving the problem,</p>
        <p>if you finish before, press "finish game".</p>
        <p>Solve the problem as well as you can.</p>
        <p>Good Luck!</p>
    </h>

    <h id= "desSudokuColors" class="des"  align= "center">

        <p>The next problem is a colors Sudoku problem,</p>
        <p>you have 15 minutes for solving the problem,</p>
        <p>if you finish before, press "finish game".</p>
        <p>Solve the problem as well as you can.</p>
        <p>Good Luck!</p>
    </h>

    <h id= "desKS1"  class="des" align= "center">

        <p>The next problem is a KS1 problem,</p>
        <p>you have 15 minutes for solving the problem,</p>
        <p>if you finish before, press "finish game".</p>
        <p>Solve the problem as well as you can.</p>
        <p>Good Luck!</p>
    </h>

    <h id= "desKS2" class="des"  align= "center">

        <p>The next problem is a KS2 problem,</p>
        <p>you have 15 minutes for solving the problem,</p>
        <p>if you finish before, press "finish game".</p>
        <p>Solve the problem as well as you can.</p>
        <p>Good Luck!</p>
    </h>

    <br> <br>

    <div>
        <button id= "tutorialButton" class="start" data-toggle="modal" data-target="#exampleModal"  ng-click=" tutorial()" >Tutorial</button>
    </div>


    <button ng-model="button" id= "startGameButton" ng-click=" startGame()" ng-disabled="!checked" >Start Play</button>


<!--    modal  for tutorial-->
    <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel"><b>Details</b></h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <!-- <div class = "single-img" ng-repeat="x in records"> -->
                    <p> You have to try three steps in order to</p>
                    <p> try and check you understand the rules that have been displayed</p>
                    <div>
                        <button id= "startTrial" class="start"  ng-click=" startTrial()" >Start Trail</button>
                    </div>
                    <label>I understood the game's rules <input type="checkbox" ng-model="checked"></label><br/>



                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" >close</button>
                    <!-- <button type="button" class="btn btn-primary" ng-click= "removeFromFavorites(Xname)">Remove from Favorites</button> -->
                </div>
            </div>
        </div>
    </div>




</head>
<body>

</body>
</html>