.titleHome{

    font-size: 50px;
    /*color: white;*/
    justify-self: center;
    width: 100%;

}

.footer{

    display: flex;
    align-items: center;
    justify-content: center;


}

.continueButton{

    background-color: #f4f1d2;
    /*padding: 5px 15px;*/
    height: 70px;
    width: 150px;
    font-size: 200%;
    font-weight: bold;
    margin: 30px;
    /*align: center;*/
    /*position: absolute;*/
    /*right: calc(50% - 75px);*/
    /*bottom: 7%;*/

}

.experimentDes{
    height: 400px;
    overflow: auto;
    font-size: 15px;
    padding-left: 10px;
}

.home-page-internal{
    width: 700px;
    height: 700px;
    background-color: white;
    border: 5px solid black;
    margin-bottom: 5px;
    border-radius: 6px;
}

.home-page-container{

    display: flex;
    align-items: center; /* height*/
    justify-content: center; /* width*/

}


