
<link rel="stylesheet" type="text/css" href="pages/Tutorial/Tutorial.css" />

<div class="page-container" ng-controller="TutorialController" >
    <div class="home-page-internal">

    <h1 class="titleTutorial" ><b>Tutorial</b></h1>
    <hr>

<!--         Slideshow container-->
<!--        <div class="slideshow-container">-->

            <img class="mySlides" ng-src="legal.jpg">
            <img class="mySlides" ng-src="legal1.jpg">
            <img class="mySlides" ng-src="little3.jpg">
    <!--        <img class="mySlides" src="img_forest.jpg">-->

    <!--        <button class="w3-button w3-display-left" ng-click="plusDivs(-1)">&#10094;</button>-->
    <!--        <button class="w3-button w3-display-right" ng-click="plusDivs(+1)">&#10095;</button>-->

            <button class="w3-buttonPrev" ng-click="plusDivs(-1)">&#10094; Prev</button>
            <button class="w3-buttonNext" ng-click="plusDivs(1)">Next &#10095;</button>

<!--        </div>-->
    </div>
</div>






