.page-container{

    display: flex;
    align-items: center; /* height*/
    justify-content: center; /* width*/

}


.home-page-internal{
    width: 800px;
    height: 550px;
    background-color: white;
    border: 5px solid black;
    margin-bottom: 5px;
    border-radius: 6px;
    align-items: center;
    position: relative;
}


.titleTutorial{

    font-size: 50px;
    /*color: white;*/
    justify-self: center;
    width: 100%;
    padding-left: 50px;


}

.icon{

    /*position: absolute;*/
    justify-self: center;
    align-self: center;
    width: 400px;
    height: 80px;
    /*padding-left: 50px;*/

}


.mySlides {
    display: none;
    width: 600px;
    height: 300px;
    align-self: center;
    padding-left: 70px;
    margin: 50px;

}

.buttons{

    position: absolute;
    bottom: 200px;
    margin:10px;
}

#familiar{
    padding-left: 20px;
}
.familiar{
    font-size: 20px;
}

#familiarOptions{
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 100%;
    padding-left: 80px;
}

.familiar-option{
    justify-self: start;
}

.w3-buttonPrev{

    position: fixed;

    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
    width:  70px;
    height: 50px;


}

.w3-buttonPrev:hover {background-color: #e7e7e7;}

.w3-buttonNext{

    background-color: white;
    color: black;
    border: 2px solid #e7e7e7;
    width:  70px;
    height: 50px;

    position: fixed;
    right: 400px;

}

.w3-buttonNext:hover {background-color: #e7e7e7;}

#firstP{

    font-size: 20px;
}

#lastP{
    font-size: 20px;

}

#titleSlide1{

    font-size: 70px;
    position: absolute;
    text-align: center;
    align-self: center;

}

#titleSlide2{

    font-size: 70px;
    position: absolute;
    text-align: center;
    align-self: center;


}

#piskaKeys1{

    font-size: 22px;
    align-self: center;
    justify-self: center;

}

#piskaKeys2{

    font-size: 22px;
    align-self: center;
    justify-self: center;

}

.tutorialPictures{

    width: 100%;
    height: 70%;
}

.tutorialSentence{

    font-size: 25px;
}

.note{
    font-size: 15px;

}








