
<link rel="stylesheet" type="text/css" href="pages/Tutorial/Tutorial.css" />

<div class="page-container" ng-controller="TutorialController" >
    <div class="home-page-internal">

<!--    <h1 class="titleTutorial" ><b>Tutorial</b></h1>-->
        <img class="icon" ng-src="pages/Tutorial/tutorialPictures/tutorial.jpg">
<!--    <hr>-->

<!--         Slideshow container-->
<!--        <div class="slideshow-container">-->
        <p  class="mySlides" id="firstP">In the next slides you will watch legal and illegal steps<br/>
        of the next game and relevant keys for the game.<br/>
        you should press the "Next" button when you finish watching each slide or return the<br/>
             previously slide by the "Prev" button.<br/>
        You may pay maximum attention throw the whole tutorial,<br/>
            Once you're done, you'll have a test to make sure <br/>
            you understand the rules of the game.<br/>
            <br>
        Press "Next" to start the tutorial</p>

        <h  class="mySlides" id="titleSlide1">Illegal steps</h>

        <div class="mySlides">
            <img class="tutorialPictures"  ng-if="numbers"    ng-src="pages/Tutorial/tutorialPictures/illegalNumberLine.jpg">
            <img class="tutorialPictures" ng-if="colors" ng-src="pages/Tutorial/tutorialPictures/illegalColorLine.jpg">
            <br> <br>
            <p class="tutorialSentence" ng-if="numbers"><b>This step (marked with "X") is illegal because the "4" digit is already exist at this line</b></p>
            <p class="tutorialSentence" ng-if="colors"><b>This step (marked with "X") is illegal because the yellow color is already exist at this line</b></p><br/>
            <p class="note" ng-if="colors"><b> Note: the icon "?" located at the right corner of some cells represents<br/>
            cells which should be filled during the game</b></p>
        </div>

        <div class="mySlides">
            <img class="tutorialPictures"  ng-if="numbers"    ng-src="pages/Tutorial/tutorialPictures/illegalNumberColumn.jpg">
            <img class="tutorialPictures" ng-if="colors" ng-src="pages/Tutorial/tutorialPictures/illegalColorColumn.jpg">
            <br> <br>
            <p class="tutorialSentence" ng-if="numbers"><b>This step (marked with "X") is illegal because the "2" digit is already exist at this column</b></p>
            <p class="tutorialSentence" ng-if="colors"><b>This step (marked with "X") is illegal because the pink color is already exist at this column</b></p>
        </div>

        <div class="mySlides">
            <img class="tutorialPictures"  ng-if="numbers"    ng-src="pages/Tutorial/tutorialPictures/illegalNumberQ.jpg">
            <img class="tutorialPictures" ng-if="colors" ng-src="pages/Tutorial/tutorialPictures/illegalColorQ.jpg">
            <br> <br>
            <p class="tutorialSentence" ng-if="numbers"><b>This step (marked with "X") is illegal because the "6" digit is already exist at this square</b></p>
            <p class="tutorialSentence" ng-if="colors"><b>This step (marked with "X") is illegal because the purple color is already exist at this square</b></p>
        </div>

        <h  class="mySlides" id="titleSlide2">The game's key</h>

        <p  class="mySlides" ng-if="numbers" id="piskaKeys1">The games's keys on the keyboard are<br/>
            the numbers 1-9 in order to fill the cells of the <br/>
            sudoku board and the backspace key in order to <br/>
            delete a value of a cell if necessary.<br/>
            In order to switch between the cells in the sudoku board,<br/>
            you should use the right mouse button.<br/>
            The illustration is shown in the next slide.
        </p>

        <p  class="mySlides" ng-if="colors" id="piskaKeys2">The games's keys on the keyboard are<br/>
            the numbers 1-9 in order to fill the cells of the <br/>
            sudoku board each number is matching a specific color, <br/>
            according to the given legend.<br/>
            In addition, the right mouse button is used for switching between<br/>
            the cells in the sudoku board and for deleting <br/>
            a value of a cell if necessary <br/>
            The illustration is shown in the next slide.
        </p>


        <img class="mySlides" ng-if="numbers"  ng-src="pages/Tutorial/tutorialPictures/keys.jpg">
        <img class="mySlides" ng-if="colors"  ng-src="pages/Tutorial/tutorialPictures/keysColors.jpg">
        <div class="mySlides" id="lastP">
            On the next page, you will examine your proficiency in the rules of the game. <br/>
            You can only switch to the game after you have answered all the questions correctly, <br/>
            or you will be taken back to this page.<br/>
            <br>
            good luck! <br/>
            <br>
            <button id="startTest" ng-click="startExam()">Start exam</button>
        </div>


    <!--        <img class="mySlides" src="img_forest.jpg">-->

    <!--        <button class="w3-button w3-display-left" ng-click="plusDivs(-1)">&#10094;</button>-->
    <!--        <button class="w3-button w3-display-right" ng-click="plusDivs(+1)">&#10095;</button>-->
            <div class="buttons">
                <button id="prev" class="w3-buttonPrev" ng-click="plusDivs(-1)">&#10094; Prev</button>
                <button id="next" class="w3-buttonNext" ng-click="plusDivs(1)">Next &#10095;</button>

            </div>


<!--        </div>-->
    </div>
</div>






