h1{
    text-align: center;

}


.board{
    margin-top:30px;
    width:70%;
    height:70%;
    display: block;
    margin: 0 auto;
    text-align: center;

}

.row {
    display: flex;
    width: 100%;
    height: 50px;

}
.one-box{
    display:inline-block;
    border: 1px solid #000000;
    /*height:10%;*/
    /*width:10%;*/
    height: 100%;
    width: calc( 100% / 9);
    /*display: flex;*/
    position: relative;
    /*align-items: center;*/
    /*justify-content: center;*/

}

.input-field{
    height: 100%;
    width: 100%;
    font-size: 26px;
    text-align: center;
    border: none;
    color: black;
}

.right-border {
    border-right: 5px solid #000000;
}

.bottom-border{
    border-bottom: 5px solid #000000;
}

.bold-border{

    /*behiroot*/
    /*opacity: 0.7;*/
    /*background-image: url("xIcon.png");*/
}

.move{
    display: block;
    margin: 0 auto;
}

.conflict{
    border: 2px solid #ff0000;

}

.ok {
    color: #00ff00;
}



#status{

    font-size: large;
    font-weight: bold;

}

body{
    background-color: cadetblue;
}

.red{
    background-color: red;
    color:red;
    /*user-select: none;*/
    /*text-line-through-color: red;*/


}

.yellow{
    background-color: yellow;
    color: yellow;

}

.blue{
    background-color: blue;
    color:blue;

}

.green{
    background-color: green;
    color:green;

}

.orange{
    background-color: orange;
    color:orange;

}

.lightGreen{
    background-color: darkmagenta;
    color:darkmagenta;

}

.brown{
    background-color: brown;
    color:brown;

}

.pink{
    background-color: pink;
    color:pink;

}

.lightskyblue{

    background-color: lightskyblue;
    color: lightskyblue;
}

.finishB{

    display: flex;
    align-items: center;
    justify-content: center;

}

.Finish Game{

    /*position:fixed;*/
    /*top:92px;*/
    width: 20px;
    size: B4;
}

.redDec{
    background-color: red;
    color: red;

}

#declaration {

    position: absolute;
    bottom: 40%;
    right: 10%;
    /*font-size: 35px;*/
}

.dec{

    width: 30px;
    height: 30px;
    font-size: 30px;
    /*background-color: red;*/
    display:flex;
    align-items: center;
    justify-content: center;
}



#type{

    background-color: #f4f1d2;
    padding: 5px 15px;
    height: 40px;
    width: 150px;
    font-size: 140%;
    font-weight: bold;
    align: center;
}

#finish{

    background-color: #f4f1d2;
    padding: 5px 15px;
    height: 60px;
    width: 200px;
    font-size: 160%;
    font-weight: bold;
    /*font-size: 30px;*/
}

#status{

    color: white;
    font-size: 400%;

}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

.icon{

    /*border: 5px solid red;*/
    Z-index:5;
    color: black;
    justify-self: center;
    align-self: center;
    position: absolute;

}

#myModal{


}

.modal-content{

    width:100%;
    height: 50%;

}


.modal-body{
    padding: 50px;
}




