<link rel="stylesheet" type="text/css" href="pages/pageBeforeGame/pageBeforeGame.css" />

<div class="home-page-container" ng-controller="pageBeforeGameController" >
    <div class="home-page-internal">

        <p class="explain" ng-if="numbers">Your next task is Sudoku numbers.<br/>
        The aim is to fill the whole board correctly according to the<br/>
        rules you have been studied before.<br/>
        You have 15 minutes fot this game, you can press the<br/>
            'Finish Game' any time you want.<br/>
        Firstly, you only have to look at the board for a few seconds<br/>
        and a question will appear on the page immediately,<br/>
            As soon as you submit your answer, you should press<br/>
            'Start Game' and the timer will start.<br/>
            <br>
            Good Luck!<br/>

        </p>

        <p class="explain" ng-if="colors">Your next task is Sudoku colors.<br/>
            The aim is to fill the whole board correctly according to the<br/>
            rules you have been studied before.<br/>
            You have 15 minutes fot this game, you can press the<br/>
            'Finish Game' any time you want.<br/>
            Firstly, you only have to look at the board for a few seconds<br/>
            and a question will appear on the page immediately,<br/>
            As soon as you submit your answer, you should press<br/>
            'Start Game' and the timer will start.<br/>
            <br>
            Good Luck!<br/>

        </p>
        <br>

        <button class="start" ng-click="start()">Start</button>






    </div>
</div>