<link rel="stylesheet" type="text/css" href="pages/finishQuestion/finishQuestion.css" />

<div class="home-page-container"  ng-controller="finishQuestionController as quesCtrl" ng-init="init()">

    <div class= "home-page-internal">

        <form name="questionsForm" ng-submit="submit()" novalidate>
            <h1 class="title">Finish Questionnarie</h1>
            <hr>
            <br>

            <div class="form-group">
                <h1 class="questions">How many boxes do you think you filled correctly out of {{boxes}} boxes?</h1>
                <select type="rank" id= "rankCorrectness" name="rank" ng-model="rank2"  >
<!--                    <option value="0">0</option>-->
<!--                    <option value="1">1</option>-->
<!--                    <option value="2">2</option>-->
<!--                    <option value="3">3</option>-->
<!--                    <option value="4">4</option>-->
<!--                    <option value="5">5</option>-->
<!--                    <option value="6">6</option>-->
<!--                    <option value="7">7</option>-->
<!--                    <option value="8">8</option>-->
<!--                    <option value="9">9</option>-->
                    <option ng-repeat="optionNumber in arrayOfOptionNumbers" value="{{optionNumber}}">
                        {{optionNumber}}
                    </option>

                </select>
                <br>
                <br>
                <h1 class="questions">How difficult was it for you to solve this problem?</h1>
                <select type="rank" id= "rankDifficulty" name="rank" ng-model="rank1" >
                    <option value="1">1: Very easy</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                    <option value="9">9</option>
                    <option value="10">10: Extremely difficult</option>

                </select>



            </div>

            <div class="buttonSubmit">
<!--                <input class="btn btn-primary" type="submit" id="submit" value="Submit" ng-click = "submitEstimates()" >-->
                <button id="nextTask" class="nextGame" ng-click="submitEstimates()" >Submit and continue</button>
            </div>



        </form>

    </div>
</div>
