h1{
    text-align: center;

}


.board{
    margin-top:30px;
    width:70%;
    height:70%;
    display: block;
    margin: 0 auto;
    text-align: center;

}

.row {
    display: block;
}
.field{
    display:inline-block; border: 1px solid #000000;
    height:10%;
    width:10%;
    font-size: 26px;
    text-align: center;
}

.col-2, .col-5 {
    border-right: 5px solid #000000;
}

.row-2, .row-5{
    border-bottom: 5px solid #000000;
}

.move{
    display: block;
    margin: 0 auto;
}

.conflict{
    border: 2px solid #ff0000;

}

.ok {
    color: #00ff00;
}



#status{

    font-size: large;
    font-weight: bold;

}

body{
    background-color: cadetblue;
}

.red{
    background-color: red;
    color:red;

}

.yellow{
    background-color: yellow;
    color: yellow;

}

.blue{
    background-color: blue;
    color:blue;

}

.green{
    background-color: green;
    color:green;

}

.orange{
    background-color: orange;
    color:orange;

}

.black{
    background-color: black;
    color:black;

}

.brown{
    background-color: brown;
    color:brown;

}

.pink{
    background-color: pink;
    color:pink;

}

.lightskyblue{

    background-color: lightskyblue;
    color: lightskyblue;
}

.Finish Game{
    position:fixed;
    top:92px;
    width: 20px;
    size: B4;
}