<link rel="stylesheet" type="text/css" href="pages/ExamBeforeGame/ExamBeforeGame.css" />

<div class="home-page-container" ng-controller="ExamBeforeGameController" >
    <div class="home-page-internal">

        <img class="icon" ng-src="pages/ExamBeforeGame/pictures/logo.jpg">

        <p  class="mySlides" id="firstPExam"> In the next slides you will exam the<br/>
            you have studied in the tutorial previously.<br/>
        The exam includes 5 questions, you can get back to change <br/>
            answers of previous questions at any time. each question has one correct answer.<br/>
            answer all the questions and press 'Submit' on the last slide if you finish.<br/>
        if you didn't answer correctly all the questions,<br/>
        you will be back to the tutorial and than you will test again<br/>
        and so on until you will answer correctly the whole,<br/>
        Then you will be able to start the next game.<br/>
            Press the 'Next' button to start the exam.<br/>
        <br>
            Good luck! </p>
        <br/>

        <div class="mySlides">
            Q1: {{Q1}}
            <br><br>
            <img  class="imageQ" ng-src={{imageSrc}}>
            <br><br>
            <input type="radio" name="op1" ng-model="Q1op" value={{op1}} > {{op1}}
            <br>
            <input type="radio" name="op2" ng-model="Q1op" value={{op2}} >{{op2}}



        </div>



        <div class="buttons">
            <button id="prevExam" class="w3-buttonPrev" ng-click="plusDivs(-1)">&#10094; Prev</button>
            <button id="nextExam" class="w3-buttonNext" ng-click="plusDivs(1)">Next &#10095;</button>

        </div>





    </div>

</div>